<div class="form-horizontal">
    <div class="panel-group">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Step 1: Add Factors
                </h3>
            </div>
            
            <div id="conditions">
                <div class="panel-body">
                    <div class="form-horizontal" ng-show="vm.infoFormData.analTypeSelected[1]">
                        <div class="col-md-12">
                            Add Multifactorial Conditions
                            <hr>
                        </div>
                        <div class="form-group col-md-6" ng-class="{ 'has-error' : conditionExists() && addConditionClicked}">
                            <div class="col-md-10">
                                <input placeholder="Condition name"  ng-model="vm.newCondition" type="text" class="form-control" name="conditionName">
                                <div class="has-error">
                                    <div class="help-block"  ng-show="conditionExists() && addConditionClicked">
                                        <p>Condition already exists!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="button" ng-click="addCondition();" title="Add" class="btn btn-primary btn-sm"><i class="fa fa-plus fa-2x"></i></button>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="BoxArea2">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Condition</th>
                                            <th> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="condition in vm.conditions">
                                            <td>{{condition}}</td>
                                            <td><button type="button" title="Delete" class="close" ng-click="deleteCondition(condition);">
                                                    <i class="fa fa-times redfont"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="has-error">
                                    <div class="help-block"  ng-show="vm.conditions.length < min">
                                        <p>At least 1 condition must be added !</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-horizontal" ng-show="vm.infoFormData.analTypeSelected[2]">
                        <div class="col-md-12">
                            Add Time Series Factors
                            <hr>
                        </div>
                        <div class="form-group col-md-6" ng-class="{ 'has-error' : (timefactorBlank() || timefactorExists()) && addTimefactorClicked}">
                                <div class="col-md-10">
                                    <div class="col-md-10">
                                        <input type="text" only-digits class="form-control" placeholder="Hours" ng-model="vm.newTimefactorHr" name="newTimefactorHr">
                                    </div>
                                    <div class="col-md-2"><label class="control-label">Hours</label></div>
                                    <!--<div class="col-md-1"><label class="control-label">:</label></div>
                                    <div class="col-md-3">
                                        <input type="text" only-digits class="form-control" placeholder="Mins" ng-model="vm.newTimefactorMin" name="newTimefactorMin">
                                    </div>
                                    <div class="col-md-1"><label class="control-label">:</label></div>
                                    <div class="col-md-3">
                                        <input type="text" only-digits class="form-control" placeholder="Secs" ng-model="vm.newTimefactorSec" name="newTimefactorSec">
                                    </div>-->
                                    <div class="has-error">
                                        <div class="help-block"  ng-show="timefactorExists() && addTimefactorClicked">
                                            <p>Time factor already exists !</p>
                                        </div>
                                    </div>
                                    <div class="has-error">
                                        <div class="help-block"  ng-show="timefactorBlank() && addTimefactorClicked">
                                            <p>Fields cannot be blank !</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" ng-click="addTimefactor();" title="Add" class="btn btn-primary btn-sm"><i class="fa fa-plus fa-2x"></i></button>
                                </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="BoxArea2">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Time Factor</th>
                                            <th> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="timefactor in vm.timefactors">
                                            <td>{{timefactor}}</td>
                                            <td><button type="button" title="Delete" class="close" ng-click="deleteTimefactor(timefactor);">
                                                    <i class="fa fa-times redfont"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="has-error">
                                    <div class="help-block"  ng-show="vm.timefactors.length < min">
                                        <p>At least 1 time factor must be added !</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal" ng-show="vm.infoFormData.analTypeSelected[3]">
                        <div class="col-md-12">
                            Add Standard DGE Factors
                            <hr>
                        </div>
                        <div class="form-group col-md-6" ng-class="{ 'has-error' : factorExists() && addFactorClicked}">
                                <div class="col-md-10">
                                    <input placeholder="Factor name"  ng-model="vm.newFactor" type="text" class="form-control" name="factorName">
                                    <div class="has-error">
                                        <div class="help-block"  ng-show="factorExists() && addFactorClicked">
                                            <p>Factor already exists!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" ng-click="addFactor();" title="Add" class="btn btn-primary btn-sm"><i class="fa fa-plus fa-2x"></i></button>
                                </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="BoxArea2">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Factor</th>
                                            <th> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="factor in vm.factors">
                                            <td>{{factor}}</td>
                                            <td><button type="button" title="Delete" class="close" ng-click="deleteFactor(factor);">
                                                    <i class="fa fa-times redfont"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="has-error">
                                    <div class="help-block"  ng-show="vm.factors.length < min">
                                        <p>At least 1 factor must be added !</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>