<div class="well">
<div class="form-horizontal">

    <div class="form-group">
        <label class="control-label col-md-4">1) Choose lanes to import samples from: </label>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <p>
                <input type="checkbox" ng-model="vm.allLanesSelected" ng-click="selectAllLanesToggle()"> <strong>Select All</strong>
            </p>
        </div>
        <div ng-class="$index==0 ? 'col-md-1 col-md-offset-2' : 'col-md-1'" ng-repeat="lane in vm.lanes  track by $index">
            <input type="checkbox" ng-model="vm.lanes[$index]"> Lane {{ $index + 1}}
        </div>
    </div>
    <hr />
    <div class="form-group">
        <label class="control-label col-md-3">2) Upload samples CSV file: </label>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-2">
            <input type="file" onchange="angular.element(this).scope().fileNameChanged(this)"/>
        </div>
    </div>
    <p class="col-md-offset-2">{{vm.csvFileContent.length}} Sample(s) Found.</p>
    <div class="BoxArea2">
        <h4>Imported Samples:</h4>
        <table class="table table-hover table-stripe">
            <thead>
                <th>Lane #</th>
                <th>Sample Name</th>
            </thead>
            <tbody>
                <tr ng-repeat="sample in vm.csvFileContent">
                    <td>{{sample.lane}}</td>
                    <td>{{sample.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
</div>
